#price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.title{ 
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg')
}

/* Adding this note to test */

h6 {
    color: black;
}



